<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h4 class="text-primary">Load Components Dynamically</h4>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn btn-primary" (click)="addComp()">Add component</button>
      &nbsp;&nbsp;
      <button class="btn btn-primary" (click)="removeComp()">Remove component</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <br/>
      <ng-template appInjectdirective></ng-template>
    </div>
  </div>
</div>
