<h4 class="text-primary">Reactive form</h4>
<br/>
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="tpl-driven-form" novalidate>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">First Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="firstname" />
      <!-- <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
          First name is required
        </div> -->
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Last Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="lastname" />
      <!-- <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Last name is required
        </div> -->
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
      <button type="submit" class="btn btn-primary" [disabled]="!reactiveForm.valid">Submit</button>
    </div>
  </div>
</form>

<div *ngIf="reactiveForm.value.firstname && reactiveForm.value.lastname">
  <p>Reactive form data: {{reactiveForm.value.firstname}} {{reactiveForm.value.lastname}}</p>
</div>