/* You can add global styles to this file, and also import other style files */
@import url("assets/css/sb-admin.css");

.bg-dark {
    background-color: #343a40!important;
}

.navbar-toggler-right {
    font-size: 1.9em;
    color: #bfbfbf;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .logout  {
    color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    background-color: transparent;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link i.fa-envelope:before,
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link i.fa-bell:before {
    color: #adb5bd;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-footer {
    background-color: transparent;
}

.card-header {
    padding: 0.55rem 1.25rem;
}

.card-header .float-left {
    padding: 4px 0 0;
}

.float-right input.form-control {
    font-size: 12px;
}

table {
    border: 1px solid #eceeef;
    border-top-width: 0;
    margin-bottom: 20px;
}

.table thead th {
    border-bottom: 1px solid #eceeef;
    border-top: 1px solid #eceeef;
}

.adv-tbl-holder table {
    width: 100%;
    border-width: 0;
}

.adv-tbl-holder table th, .adv-tbl-holder table td {
    padding: 10px !important;
}

.adv-tbl-holder table th span.header { 
    font-size: 13px;
}

/* ngx-datatable styles starts here */
.ngx-datatable .datatable-body .datatable-scroll {
    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
}

.ngx-datatable .datatable-body-cell {
    padding: 10px;
    border-right: 1px solid #ccc;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    border-left: 1px solid #ccc;
    padding: 0 10px;
    line-height: 30px;
    border-top: 1px solid #ccc;
    line-height: 49px !important;
    background: #e4e4e4;
}

.ngx-datatable .datatable-body .datatable-body-row {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li {
    padding: 0 10px !important;
}

.ngx-datatable .datatable-header .datatable-header-cell .datatable-icon-down:after {
    content: ">";
}

.ngx-datatable .datatable-header .datatable-header-cell .datatable-icon-up:after {
    content: "<";
}

/* ngx-datatable styles ends here */

.smart-table tr th {
    background: #f7f7f7 !important;
}

agm-map {
    height: 400px;
}

.items {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.items-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tpl-driven-form .alert {
    margin-top: 7px;
    margin-bottom: 0;
    background-color: transparent;
    border-color: transparent;
    color: #a94442;
    padding: 0;
}

.fa-pencil, .fa-window-close-o {
    margin: 3px 5px 0;
}

.primeng-datatable .ui-widget-header {
    background: #f6f7f9 0 0 repeat-x;
    background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f9), color-stop(100%, #ebedf0));
    background: -webkit-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
    background: -o-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
    background: -ms-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
    border: 1px solid #d9d9d9;
    color: #1b1d1f;
}

.ui-datatable table {
    margin-bottom: 0 !important;
}

.ui-datatable .ui-paginator-bottom {
    border: 1px solid #d9d9d9;
    background: #eeeff1;
    border-top-width: 0;
}

.ui-datatable .ui-datatable-thead>tr>th {
    background: #eeeff1;
    border-color: #d9d9d9;
}

.ui-datatable .ui-datatable-data>tr>td {
    border-color: #d9d9d9;
}

.ui-datatable .ui-column-filter {
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-size: 13px;
    padding: 5px 10px;
}

.ui-accordion p-accordiontab {
    margin-bottom: 15px;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1;
    background: #f6f7f9;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.ui-accordion .ui-accordion-header a:focus, .ui-accordion .ui-accordion-header a:hover {
    text-decoration: none;
}

.ui-accordion .ui-accordion-header.ui-state-active {
    border-radius: 5px 5px 0 0;
}

.ui-accordion .ui-accordion-content {
    border: 1px solid #d9d9d9;
    border-top-width: 0;
}

.ui-widget-header {
    background: transparent;
    border-width: 0;
    color: #1b1d1f;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    background: #f6f7f9;
    border-radius: 3px 3px 0 0;
    border: 1px solid #d6d6d6;
}

.ui-tabview .ui-tabview-nav > li.ui-state-active {
    border-bottom: 0;
}

.ui-widget-content {
    border: 1px solid #D5D5D5;
    background: #ffffff;
    color: #222222;
}

.ui-state-default {
    border: 1px solid #d6d6d6;
    background: #ffffff;
    color: #555555;
}

.ui-fieldset .ui-fieldset-legend {
    font-size: 16px;
}

.ui-growl-message-success,
.ui-growl-message-info,
.ui-growl-message-warn,
.ui-growl-message-error {
    box-shadow: none;
    border-width: 0;
}

.ui-growl-message-success .ui-growl-item {
    background: #449d44;
}

.ui-growl-message-info .ui-growl-item {
    background: #5bc0de;
}

.ui-growl-message-warn .ui-growl-item {
    background: #f0ad4e;
}

.ui-growl-message-error .ui-growl-item {
    background: #d9534f;
}

.ui-growl-message-success .ui-growl-item,
.ui-growl-message-info .ui-growl-item, .ui-growl-message-warn .ui-growl-item,
.ui-growl-message-error .ui-growl-item {
    border-radius: 5px;
    top: 50px;
    right: 20px;
    color: #fff;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    #mainNav.fixed-top .navbar-sidenav {
        height: auto;
    }

}
