<p><br/><br/></p>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h2 class="text-primary">Bar Charts</h2>
    <div [chart]="chart"></div>
  </div>
  <div class="col-md-6 col-sm-12">
    <h2 class="text-primary">Spline</h2>
    <div [chart]="chart2"></div>
  </div>
</div>

<p><br/><br/></p>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h2 class="text-primary">Spline</h2>
    <div [chart]="chart3"></div>
  </div>
  <div class="col-md-6 col-sm-12">
    <h2 class="text-primary">Pai Chart</h2>
    <div [chart]="paiChart"></div>
  </div>
</div>

<p><br/><br/></p>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h2 class="text-primary">Gauge</h2>
    <div [chart]="gaugeChart"></div>
  </div>
  <div class="col-md-6 col-sm-12">
    
  </div>
</div>